modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NFT Fetcher"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "run_nft_fetcher"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "NFT Grid Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Citizen Map Server"

[[workflows.workflow]]
name = "NFT Fetcher"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install node-fetch && node index.js"

[[workflows.workflow]]
name = "run_nft_fetcher"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install node-fetch && node index.js"

[[workflows.workflow]]
name = "NFT Grid Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node index.js"
waitForPort = 5000

[[workflows.workflow]]
name = "Citizen Map Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node citizen-map/app.js"
waitForPort = 5001

[deployment]
run = ["sh", "-c", "npm install node-fetch && node index.js"]

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 3000
